# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Expo
.expo/
.expo-shared/
web-build/

# Metro bundler cache
.metro/

# React Native
ios/Pods/
ios/build/
android/.gradle/
android/build/
*.iml
*.hprof

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
.env
